* {
    margin: 0;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(226, 217, 176);
}

.container {
    max-width: 1024px;
    padding: 20px 30px;
    box-sizing: border-box;
}

.heading {
    font-weight: 700;
    margin-bottom: 22px;
}

.text {
    line-height: 25px;
    margin-bottom: 40px;
}